@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');

@import '../node_modules/materialize-css/sass/materialize.scss';

body {
  font-family: 'ZCOOL XiaoWei', serif;
}

main {
  display: flex;
  justify-content: space-around;
}

main > div {
  flex-basis: auto;
  width: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.title {
  text-align: center;
  padding: 1rem;
}

.summary-item header {
  background-color: #995d81;
  color: #f6f740;
  padding: 0.25rem;
}

.summary-item p {
  font-size: 1.25rem;
}

form {
  margin: 3rem;
  padding: 1rem;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.submit-button button {
  width: 100%;
}

.collection-item {
  display: flex;
  align-items: center;
}

.line-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  width: 100%;
  text-transform: capitalize;
}
.line-item-details time {
  font-size: 1rem;
  font-style: italic;
  text-transform: lowercase;
}

.Bills {
  @extend .blue, .lighten-1;
}

.Entertainment {
  @extend .amber, .accent-3;
}

.Coffee {
  @extend .brown, .darken-4;
}

.Savings {
  @extend .cyan, .accent-3;
}

.Food {
  @extend .purple, .accent-2;
}

.total {
  width: 100%;
  display: flex;
  justify-content: center;
}
